body{
    background-color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
}
#titulo{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}
#entrada{
    text-align: center;
    width: 250px;
    height: 70px;
    background-color: #2f1b25;
    color: white;
    border-right: solid black 3px;
    border-bottom: solid black 4px;
    border-radius: 3px;
    font-size: 18px;
    transition: .3s;
}
#entrada:focus{
    outline: none;
    border: 2px solid #8a2be2;
}
#botao{
    display: block;
    background-color: #e6e6e6;
    color: #111;
    width: 100px;
    height: 75px;
    transition: 0.5s;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
}
#botao:hover{
    background-color: rgb(194, 194, 194);
}
#lista{
    background-color: #202020;
    color: white;
    padding: 20px;
    list-style: none;
    min-height: 500px;
    border: solid 2px #555;
    border-radius: 8px;
    width: 200px;
    font-size: 30px;
}
#lista li{
    margin-bottom: 10px;
}
.lista-container{
    text-align: center;
}
.lista-container h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.dica{
    color: orange;
    text-align: center;
    font-size: 23px;
    margin-top: 5px;
    font-weight: bold;
}
#acerto{
    color: rgb(0, 139, 0);
    text-transform: uppercase;
}
#tentativas{
    color: white;
}
#botaoNovoJogo{
    background-color: #43a047;
    color: white;
    width: 100px;
    height: 50px;
    transition: 0.5s;
    border: solid green 2px;
    border-radius: 5px;
    cursor: pointer;
}
#botaoNovoJogo:hover{
    background-color: #2e7d32;
}
#erro{
    color: red;
}
